<div class="footer">
    <div class="container">

            <div class="recent-news">
            <h1>Recent News</h1>

            <div class="feature">
                <div class="content">
                    <img src="/assets/job-opening-mobile.png" alt="job-opening">
                    <span><a href="#">Job opening</a></span>
                </div>
                <a href="#">Multimedia Design/ Digital Marketing Officer</a>
            </div>

            <div class="feature">
                <div class="content">
                    <img src="/assets/news-mobile.png" alt="job-opening">
                    <span><a href="#">News</a></span>
                </div>
                <a href="#">Latest Service Arrangements (From 16th Until Further Notice)</a>
            </div>

        </div>

            <div class="pages-link">
            <h1>Pages</h1>
            <ul class="quick-links-bottom">
                <li><a href="https://rookieacademy.org/#about-us">About us</a></li>
                <li><a href="https://rookieacademy.org/list-of-programs.html">All Programmes</a></li>
                <li><a href="https://rookieacademy.org/#working-with-us">Working with us</a></li>
                <li><a href="https://rookieacademy.org/#contact-us">Contact us</a></li>
                <li><a href="https://rookieacademy.org/frequent-asked-question.html">FAQ</a></li>
                <li><a href="https://rookieacademy.org/sitemap.html">Supporting Site Map</a></li>
            </ul>
            </div>
            <div class="social-media-icon">
            <h1>Follow us</h1>
            <ul class="quick-media-shortcuts">
                <li class="facebook"><a href="#">Facebook</a><a href="#"><img src="/assets/Icon awesome-facebook-square.svg"></a></li>
                <li class="instagram"><a href="#">Intagram</a><a href="#"><img src="/assets/Icon awesome-instagram.svg"></a></li>
                <li class="linked-in"><a href="#">LinkedIn</a><a href="#"><img src="/assets/Icon awesome-linkedin.svg"></a></li>
                <li class="google-bussiness"><a href="#">Google business</a><a href="#"><img src="/assets/Icon awesome-google.svg" alt="google icon"></a></li>
                <li class="youtube"><a href="#">Youtube</a><a href="#"><img src="/assets/Icon awesome-youtube.svg" alt="youtube icon"></a></li>
                <li class="twitter"><a href="#">Twitter</a><a href="#"><img src="/assets/Icon awesome-twitter-square.svg" alt="twitter icon"></a></li>
                <li class="wechat"><a href="#">Wechat</a><a href="#"><img src="/assets/Icon awesome-weixin.svg" alt="wechat icon"></a></li>
                
            </ul>
            </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <span>Copyright © {%year%} Rookie Academy</span>
            <span><a href="#">Privacy policy</a></span>
        </div>
    </div>
</div>