---
title: Rookie Academy | Supporting Students with Special Educational Needs
layout: 'base.njk'
---




<section class="hero">
    <div class="container">
        <div class="left-col">
            <p>The key to success will be lifelong learning.</p><h1>Having a <span>real good rapport</span> with your children!</h1>
            <div class="hero-cta">
                <a class="primary-cta" href="join-us.html">BOOK NOW</a>
            </div>
        </div>
        <img class="hero-img" src="/assets/service-process-svg.svg" alt="step-by-step-guideline-for-seeking-consultation">
    </div>
</section>
<section class="featured-articles-section">
    <div class="container">
        <h2 class="featured-articles-section-caption">SEN 資源文章</h2>
        <p>為有特殊教育需要(SEN)的兒童提供建議、學習活動和推薦的玩具、書籍和資源</p>
        <ul class="featured-articles-list">
            {% for post in collection.featured %}
                {% include "article-snippet.njk" %}
            {% endfor %}
        </ul>
    </div>
</section>
<section class="about-section" id="about-us">
    <div class="container">
        <h1 class="about-section-caption">About Rookie<span>Academy</span></h1>
        <div class="punchline">
            <img class="about-us-img" src="/assets/about-rookie-academy-svg.svg" alt="about-us-img">
            <h2>"Accompanying and loving our children will develop their talents."</h2>
        </div>
        <p>Rookie Academy (RA) is located in Tuen Mun and Kwun Tong. Our team consists largely of pofessionals and teachers with extensive experience working with children with special educational needs. Our main audience are from pre-nursery children to the elder people. We provide assessment and consultation services,  sensory integration therapies, interventions on behavioral and emotional development ,speech therapies and intensive pre-school children training. </p>
        <p>Our motto is " Accompanying and loving our children will develop their talents".</p>
        <div class="overlapping-bridge">
            <div class="col-one">
                <h1>we are</h1>
                <p>a team of dedicated Special Educational Needs (SEN) professionals serving the local community for more than 10 years. </p>
            </div>
            <div class="col-two">
                <h1>we provide</h1>
                <p>assessment, intervention, therapies and parent support to address any concerns of families. </p>
            </div>
            <div class="col-three">
                <h1>get suggestions</h1>
                <p>on parenting steps, skills and making important and right decisions for your child.</p>
            </div>
            <div class="col-four">
                <h1>get involved</h1>
                <p>in support us to provide the very best for Hong Kong's young children wiith special needs.</p>
            </div>
        </div>
    </div>
</section>
<section class="core-value-section" id="our-core-value">
    <div class="container">
        <h1 class="core-value-caption">Our Core Values</h1>
        <ul class="core-values-list">
            <li>Sensory Development - maturing of the five senses</li>
            <li>"Gross Motor" and "Fine Motor"</li>
            <li>Using the theory of multiple intelligence </li>
            <li>Advocacy of creative thinking</li>
            <li>Introduction of meaningful activities to promote engagement and communication</li>
            <li>Mindfulness and self-recognition - paying attention to the present moment with openness, curosity and without judgement</li>
        </ul>
    </div>
</section>
<section class="mission-section" id="our-mission">
    <div class="container">
        <h1>Our Mission</h1>
        <div class="punchline">
            <img src="/assets/vision-svg.svg" alt="our-mission-img" class="our-mission-img">
            <h2>"The key to sucess is lifelong learning."</h2>
        </div>
        <p>We are proponent of promoting self-directed learning abilities. </p>
        <p>Self-directed learning is a process of learning requires students to take personal responsibility for their own learning. In Rookie Academy, our children will participate different kinds of courses to enhance their self-learning skills. To foster your child’s intrinsic motivation to grow using the power of parenting and connections. </p>
    </div>
</section>
<section class="contact-us" id="contact-us">
    <div class="container">
        <div class="contact-left">
            <h1>Contact Us</h1>
            <h3>Email Address：</h3>
            <a href="mailto:admin@rookieacademy.org">admin@rookieacademy.org</a>
            <h3>Tel：</h3>
            <a href="tel:+85296185765">9618 5765</a>
        </div>
        <div class="contact-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.1400406407997!2d114.22347481744384!3d22.310542900000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404014542a0d667%3A0x42c7ec5010072f27!2z5rOT5a-M5buj5aC0!5e0!3m2!1szh-TW!2shk!4v1646221171889!5m2!1szh-TW!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
<section class="services-section" id="our-services">
    <div class="container">
        <h1>Our Services</h1>
        <div class="punchline">
            <img src="/assets/service-svg.svg" alt="our-service-img">
            <h2>"Student first" has always been our teaching philosophy"</h2>
        </div>
        <p>We are committed to provide high-quality teaching services and robust test-taking strategies.</p>
        <p>We provide diversified training sessions to help students with special needs overcome their learning difficulties, so they can change from being difficult to engage in learning, to gradually enjoy learning, then to self-directed learning, and even to apply their knowledge. </p>
        <a class="more-info-cta" href="list-of-programs.html">More info</a>
    </div>
</section>
<section class="working-with-us-section" id="working-with-us">
    <div class="container">
        <h1>Working With Us</h1>
        <div class="punchline">
            <img src="/assets/helping-hand-svg.svg" alt="working-with-us-image">
            <h2>"We look for passionate volunteers to work with our SEN teachers."</h2>
        </div>
        <p>RA is now looking for volunteers and/or students to work with our doctors, occupational therapists, speech therapists and SEN teachers as a helping hand to relieve our administrative pressure.</p>
        <p>If you are interested in join us to work alongside our professionals, please fill in the following blanks with your name, email, phone numbers and relevant backgrounds. Our staff will contact you for the position.</p>

        <a class="work-cta" href="work-with-us.html">Fill In Form</a>
    </div>
</section>